body {
	background-color: black;
	color: silver;
	font-family: courier;
}

.verLink {
	text-decoration: none;
	color: silver;
}

.inline {
	float: left;
}

#grid {
	background-color: silver;
	width: 580px;
	height: 580px;
	padding: 10px;
	color: black;
}

.cell {
	width: 40px;
	height: 40px;
	background-color: #E0E0E0;
	margin: 1px 0 0 1px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	opacity: 0.4;
}

.cellHovered {
	background-color: #EDEDED;
	opacity: 1.0;
}

.cellSelected {
	border-color: #3366CC;
	opacity: 1.0;
}

.nextLine {
	clear: both;
}

#colorPicker {
	position: absolute;
	width: auto;
	height: auto;
	background-color: #3366CC;
	display: none;

	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

#closeBtn {
	position: absolute;
	top: -16px;
	left: 24px;
	z-index: 1;
}

#closeBtn:hover {
	-webkit-filter: contrast(200%);
}

.color {
	width: 30px;
	height: 30px;
	margin: 0 5px 5px 0;

	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
}

.color:hover {
	border-color: white;
}

#colors {
	margin: 5px 0 5px 5px;
}

.color1Red {
	background-color: red;
}

.color2Orange {
	background-color: orange;
}

.color3Yellow {
	background-color: yellow;
}

.color4White {
	background-color: white;
}

.color5Lime {
	background-color: lime;
}

.color6Blue {
	background-color: blue;
}

.btn {
	 width: 60px;
}

.blueBold {
	font-weight: bold;
	color: #3366CC;
}

#solveBtn {
	width: 130px;
}

#solvingBtns {
	width: 600px;
	font-weight: bold;
}

#solvingBtnsContainer {
	display: table;
	margin: 0 auto;
}

.moveBtn {
	width: 95px;
	height: 30px;
}

#footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.mailtoContainer {
	font-size: 8pt;
	padding: 4% 0;
	margin-right: 10px;
}

.mailto {
	color: silver;
	text-decoration: none;
	padding: 10% 0;
}

#movesProgress {
	margin: 0 30px;
}